// Copyright (C) 2017 Leo Balter. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
path: language/expressions/object/method-definition/async-meth-
name: async method
esid: sec-async-function-definitions
info: |
  14.6 Async Function Definitions

  AsyncMethod :
   async PropertyName ( UniqueFormalParameters ) { AsyncFunctionBody }
---*/

({
  async *method(/*{ params }*/) {
    /*{ body }*/
  }
});
