// Copyright (C) 2017 Leo Balter. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
path: language/statements/async-function/
name: async function declaration
esid: sec-async-function-definitions
info: |
  14.6 Async Function Definitions

  AsyncFunctionDeclaration :
    async function BindingIdentifier ( FormalParameters ) { AsyncFunctionBody }
flags: [async]
---*/

var callCount = 0;

// Stores a reference `ref` for case evaluation
async function ref(/*{ params }*/) {
  /*{ body }*/
  callCount = callCount + 1;
}

ref(/*{ args }*/).then(() => {
    assert.sameValue(callCount, 1, 'function invoked exactly once');
}).then($DONE, $DONE);
