// Copyright (C) 2017 Mike Pennisi. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.
/*---
path: language/expressions/class/accessor-name-inst-
name: Class expression, instance method
esid: sec-runtime-semantics-classdefinitionevaluation
es6id: 14.5.14
info: |
  [...]
  21. For each ClassElement m in order from methods
      a. If IsStatic of m is false, then
         i. Let status be the result of performing PropertyDefinitionEvaluation
            for m with arguments proto and false.
---*/

var stringSet;

var C = class {
  get /*{ declareWith }*/() { return 'get string'; }
  set /*{ declareWith }*/(param) { stringSet = param; }
};

assert.sameValue(C.prototype[/*{ referenceWith }*/], 'get string');

C.prototype[/*{ referenceWith }*/] = 'set string';
assert.sameValue(stringSet, 'set string');
