{
  "env": {
    "development": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    },
    "debugger": {
      "presets": [["env", {
          "targets": {
            "node": "current"
          }
        }],
      "react"],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}
