// Copyright (C) 2017 Mike Pennisi. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.
/*---
name: Preserving "soft" indentation across newlines
path: indentation/spaces-
---*/

(function() {
  /*{ value }*/

  if (true) {
    /*{ value }*/
  }
}());
