// Copyright (C) 2017 the V8 project authors. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
path: language/expressions/async-generator/dstr-
name: async generator function expression
esid: sec-asyncgenerator-definitions-evaluation
features: [async-iteration]
info: |
    AsyncGeneratorExpression : async [no LineTerminator here] function * ( FormalParameters ) {
        AsyncGeneratorBody }
    
        [...]
        3. Let closure be ! AsyncGeneratorFunctionCreate(Normal, FormalParameters,
           AsyncGeneratorBody, scope, strict).
        [...]
flags: [async]
---*/

var callCount = 0;
var f;
f = async function*(/*{ elems }*/) {
  /*{ body }*/
  callCount = callCount + 1;
};

f(/*{ vals }*/).next().then(() => {
    assert.sameValue(callCount, 1, 'invoked exactly once');
}).then($DONE, $DONE);
