// Copyright (C) 2017 André Bargull. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
path: language/block-scope/syntax/redeclaration/async-function-declaration-attempt-to-
name: AsyncFunctionDeclaration in BlockStatement
esid: sec-block-static-semantics-early-errors
info: |
  Block : { StatementList }

  It is a Syntax Error if the LexicallyDeclaredNames of StatementList contains
  any duplicate entries.
negative:
  phase: early
  type: SyntaxError
flags: [async-functions]
---*/

{ async function f() {} /*{ body }*/ }
