// Copyright (C) 2016 the V8 project authors. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.
/*---
path: annexB/language/function-code/block-decl-
name: Block statement in function scope containing a function declaration
esid: sec-web-compat-functiondeclarationinstantiation
es6id: B.3.3.1
flags: [noStrict]
---*/

(function(/*{ params }*/) {
  /*{ before }*/

  {
    function f() { /*{ body }*/ }
  }

  /*{ after }*/
}(/*{ args }*/));
