// Copyright (C) 2016 the V8 project authors. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.
/*---
path: annexB/language/global-code/block-decl-
name: Block statement in the global scope containing a function declaration
esid: sec-web-compat-globaldeclarationinstantiation
es6id: B.3.3.2
flags: [noStrict]
---*/

{
  function f() { /*{ body }*/ }
}
